@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik:wght@400;500;700&display=swap");

:root {
  --primary-color: #406782;
  --primary-light-color: #d6e2eb;
  --black-color: #333333;
  --white-color: #ffffff;
  --gray-color: #777777;
  --light-gray-color: #dddddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar {
  width: 80%;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.nav ul li a {
  text-decoration: none;
  color: var(--black-color);
  position: relative;
  transition: 0.25s;
}

.nav ul li a:hover {
  color: var(--primary-color);
}

.nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: var(--primary-color);
  transform: scale(0);
  transition: 0.25s;
}

.nav ul li a:hover::after {
  transform: scale(1);
}

.header-text {
  text-align: center;
}

.header-text > *:not(:last-child) {
  margin-bottom: 1rem;
}

.name,
.position {
  color: var(--primary-color);
}

.arrow {
  color: var(--primary-color);
  font-size: 4rem;
  width: 10rem;
  height: 10rem;
  display: grid;
  place-items: center;
  transform: rotate(45deg);
  background-color: var(--primary-light-color);
  margin-bottom: 5rem;
}

.arrow > div {
  transform: rotate(-45deg);
}

.primary-light-background {
  position: absolute;
  left: 0;
  right: 50%;
  height: 100vh;
  background-color: var(--primary-light-color);
  z-index: -1;
}

.about {
  width: 80%;
  margin-inline: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.about img {
  width: 20rem;
}

.about > div h2 {
  margin-bottom: 2rem;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}

.data > *:first-child {
  font-weight: bold;
}

.resume {
  width: 80%;
  margin-inline: auto;
  min-height: 100vh;
}

.resume h2 {
  margin-bottom: 2rem;
}

.education {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--gray-color);
  margin-bottom: 2rem;
}

.education > *:not(:last-child) {
  margin-bottom: 1rem;
}

.experience {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--gray-color);
  margin-bottom: 2rem;
}

.experience > *:not(:last-child) {
  margin-bottom: 1rem;
}

.skills {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--gray-color);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.skills > *:not(:last-child) {
  margin-bottom: 1rem;
}

.skill {
  display: flex;
  justify-content: space-around;
  padding-block: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.html,
.css,
.javascript,
.react,
.bootstrap {
  width: 10rem;
  height: 10rem;
  border: 0.4rem solid var(--light-gray-color);
  border-radius: 50%;
  position: relative;
}

.html::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.css::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.javascript::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-bottom: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.react::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.bootstrap::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.badges {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--gray-color);
  margin-bottom: 2rem;
}

.badges > *:not(:last-child) {
  margin-bottom: 1rem;
}

.gray {
  color: var(--gray-color);
}

.achievements {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--gray-color);
  margin-bottom: 2rem;
}

.achievements > *:not(:last-child) {
  margin-bottom: 1rem;
}
