@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --primary-color: #406782;
  --primary-light-color: #d6e2eb;
  --black-color: #333333;
  --white-color: #ffffff;
  --gray-color: #777777;
  --light-gray-color: #dddddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.gray {
  color: var(--gray-color);
}

.small {
  font-size: 0.8rem;
}

@keyframes downup {
  50% {
    transform: translateY(1rem);
  }
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar {
  width: 80%;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Yellowtail", cursive;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.nav ul li a {
  text-decoration: none;
  color: var(--black-color);
  position: relative;
  transition: 0.25s;
}

.nav ul li a:hover {
  color: var(--primary-color);
}

.nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: var(--primary-color);
  transform: scale(0);
  transition: 0.25s;
}

.nav ul li a:hover::after {
  transform: scale(1);
}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
}

.menu-button img {
  width: 1.5rem;
}

.header-text {
  text-align: center;
}

.header-text > *:not(:last-child) {
  margin-bottom: 1rem;
}

.name,
.position {
  color: var(--primary-color);
}

.arrow {
  color: var(--primary-color);
  font-size: 4rem;
  width: 10rem;
  height: 10rem;
  display: grid;
  place-items: center;
  transform: rotate(45deg);
  background-color: var(--primary-light-color);
  margin-bottom: 5rem;
}

.arrow > div {
  transform: rotate(-45deg);
}

.arrow > div > div {
  animation-name: downup;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.primary-light-background {
  position: absolute;
  left: 0;
  right: 50%;
  height: 100vh;
  background-color: var(--primary-light-color);
  z-index: -1;
}

.about {
  width: 80%;
  margin-inline: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.about img {
  width: 20rem;
  border-radius: 0.25rem;
  background-color: var(--primary-light-color);
}

.about > div h2 {
  margin-bottom: 2rem;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data:not(:last-child) {
  margin-bottom: 0.5rem;
}

.data > *:first-child {
  font-weight: bold;
}

.resume {
  width: 80%;
  margin-inline: auto;
  min-height: 100vh;
}

.resume h2 {
  margin-bottom: 2rem;
}

.education {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--light-gray-color);
  margin-bottom: 2rem;
}

.education > *:not(:last-child) {
  margin-bottom: 1rem;
}

.experience {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--light-gray-color);
  margin-bottom: 2rem;
}

.experience > *:not(:last-child) {
  margin-bottom: 1rem;
}

.skills {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--light-gray-color);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.skill {
  display: flex;
  justify-content: space-around;
  padding-block: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill-logo {
  width: 6rem;
}

.html,
.css,
.javascript,
.react,
.bootstrap {
  width: 10rem;
  height: 10rem;
  border: 0.4rem solid var(--light-gray-color);
  border-radius: 50%;
  position: relative;
}

.html::before {
  content: attr(percentage);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.html::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.css::before {
  content: attr(percentage);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.css::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.javascript::before {
  content: attr(percentage);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.javascript::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-bottom: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.react::before {
  content: attr(percentage);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.react::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-bottom: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.bootstrap::before {
  content: attr(percentage);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.bootstrap::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.badges {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--light-gray-color);
  margin-bottom: 2rem;
}

.badges > *:not(:last-child) {
  margin-bottom: 1rem;
}

.achievements {
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid var(--light-gray-color);
  margin-bottom: 2rem;
}

.achievements > *:not(:last-child) {
  margin-bottom: 1rem;
}

.projects {
  width: 80%;
  margin-inline: auto;
  min-height: 100vh;
}

.projects h2 {
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.projects-grid a {
  position: relative;
}

.projects-grid img {
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.projects-grid a::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.5;
}

.projects-grid a:hover::before {
  background-color: var(--primary-color);
}

.projects-grid a:hover::after {
  content: attr(project-name);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white-color);
  font-weight: bold;
}

.footer {
  background-color: #000000;
  color: var(--light-gray-color);
}

.footer-content {
  width: 80%;
  margin-inline: auto;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
}

.social-profiles h3 {
  margin-bottom: 2rem;
}

.profile-picture {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--white-color);
  margin-bottom: 1rem;
}

.social-profiles p {
  margin-bottom: 1rem;
}

.social-profiles > div {
  display: flex;
  gap: 1rem;
}

.social-icon {
  width: 1.5rem;
  filter: grayscale(1) invert(1);
}

.quotation h3 {
  margin-bottom: 2rem;
}

.contact h3 {
  margin-bottom: 2rem;
}

.contact > div {
  display: flex;
  gap: 1rem;
}

.contact > div:not(:last-child) {
  margin-bottom: 1rem;
}

.contact img {
  width: 1.5rem;
  filter: grayscale(1) invert(1);
}

@media (max-width: 55rem) {
  .navbar {
    width: 90%;
  }
  .nav {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .about {
    width: 90%;
  }
  .about img {
    display: none;
  }
  .data {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
